html,
body {
    height: 100%
}


@media screen and (max-width:768px) {
    body {
        padding-top: 50px
    }
}

#wrap {
    min-height: 100%;
    background-color: #edf1f2;
    height: auto !important;
    height: 100%;
    margin: 0 auto -309px;
    padding: 0 0 309px
}

#footer {
    height: 309px
}

@media(max-width:767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px
    }
}

.item-panel {
    height: 387px
}

.item-header a {
    color: #363f44;
    text-decoration: none;
    cursor: pointer
}

.item-header a:hover,
.item-header a:focus {
    color: #141719;
    text-decoration: none
}

.text-base {
    color: #58666e
}

a.text-info {
    color: #19a9d5;
    text-decoration: none;
    cursor: pointer
}

a.text-info:hover,
a.text-info:focus {
    color: #1797be;
    text-decoration: none
}

.link-info a {
    color: #19a9d5;
    text-decoration: none;
    cursor: pointer
}

.link-info a:hover,
.link-info a:focus {
    color: #1797be;
    text-decoration: none
}

.link-base a {
    color: #58666e;
    text-decoration: none;
    cursor: pointer
}

.link-base a:hover,
.link-base a:focus {
    color: #58666e;
    text-decoration: none
}

.frontpage-header {
    width: 100%;
    background-image: url(../img/backgrounds/search-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative
}

.frontpage-header h1 {
    text-shadow: 0 0 5px rgba(0, 0, 5, .7)
}

.frontpage-header h3 {
    text-shadow: 0 0 5px rgba(0, 0, 5, .5)
}

.white-transparant-bg {
    background-color: rgba(255, 255, 255, .5) !important
}

.click-area-lg {
    display: block;
    position: relative
}

.click-area-lg:after {
    content: "";
    padding: 200px;
    position: absolute;
    left: -100px;
    top: -100px
}

a.text-white:hover,
a.text-white:focus {
    color: #eee;
    text-decoration: none
}

a.text-black {
    color: #363f44
}

a.text-black:hover,
a:focus {
    color: #141719;
    text-decoration: none
}

.text-xl {
    font-size: 24px
}

.text-xxl {
    font-size: 32px
}

.text-xxxl {
    font-size: 50px
}

.text-right {
    text-align: right
}

.text-ellipsis {
    text-overflow: ellipsis
}

.item-listing-title {
    height: 85px
}

.item-listing-desc {
    height: 80px
}

.item-listing-extra {
    height: 40px
}

.btn-transparant-white {
    color: #fff !important;
    border: 1px solid #fff
}

.btn-transparant-white:hover,
.btn-transparant-white:focus,
.btn-transparant-white:active,
.btn-transparant-white.active,
.open .dropdown-toggle.btn-transparant-white {
    color: #2baadf !important;
    border-color: #2baadf !important
}

.item-menu {
    padding-top: 8px;
    margin-bottom: -11px
}

.item-menu .active {
    border-bottom: 5px solid #23b7e5;
    font-weight: 700;
    color: #363f44 !important
}

.item-menu a {
    color: #58666e
}

.item-menu a:hover,
.item-menu a:focus {
    text-decoration: none;
    color: #141719 !important;
    border-bottom: 5px solid #e5e9ec
}

.item-menu .active:hover {
    text-decoration: none;
    border-bottom: 5px solid #0faadc !important
}

.item-menu .active {
    border-bottom: 5px solid #0faadc
}

.screenshot-box {
    line-height: 200px;
    text-align: center
}

.screenshot-thumb {
    vertical-align: middle;
    max-width: 100%;
    max-height: 196px
}

.extra-screenshot {
    display: none
}

#display-screenshots {
    display: block
}

#hide-screenshots {}

.item-description h3 {
    font-size: 30px;
    font-weight: 300
}

.item-description a {
    color: #19a9d5;
    text-decoration: none;
    cursor: pointer
}

.item-description a:hover,
.item-description a:focus {
    color: #1797be;
    text-decoration: none
}

.item-description img {
    max-width: 100%
}

img.size-full {
    width: 100%
}

.blog-post img {
    max-width: 100%
}

.btn-facebook {
    color: #fff !important;
    background-color: #3a5898;
    border-color: #3a5898
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
    color: #fff !important;
    background-color: #35508b;
    border-color: #35508b
}

.btn-twitter {
    color: #fff !important;
    background-color: #2baadf;
    border-color: #2baadf
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
    color: #fff !important;
    background-color: #28a0d2;
    border-color: #28a0d2
}

.btn-googleplus {
    color: #fff !important;
    background-color: #cc382e;
    border-color: #cc382e
}

.btn-googleplus:hover,
.btn-googleplus:focus,
.btn-googleplus:active,
.btn-googleplus.active,
.open .dropdown-toggle.btn-googleplus {
    color: #fff !important;
    background-color: #be342b;
    border-color: #be342b
}

.btn-pinterest {
    color: #fff !important;
    background-color: #ca1f28;
    border-color: #ca1f28
}

.btn-pinterest:hover,
.btn-pinterest:focus,
.btn-pinterest:active,
.btn-pinterest.active,
.open .dropdown-toggle.btn-pinterest {
    color: #fff !important;
    background-color: #bc1d25;
    border-color: #bc1d25
}

.btn-linkedin {
    color: #fff !important;
    background-color: #007ab5;
    border-color: #007ab5
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active,
.open .dropdown-toggle.btn-linkedin {
    color: #fff !important;
    background-color: #0071a8;
    border-color: #0071a8
}

.btn-rss {
    color: #fff !important;
    background-color: #f26722;
    border-color: #f26722
}

.btn-rss:hover,
.btn-rss:focus,
.btn-rss:active,
.btn-rss.active,
.open .dropdown-toggle.btn-rss {
    color: #fff !important;
    background-color: #e26020;
    border-color: #e26020
}

.m-l-xxxl {
    margin-left: 70px
}

.m-r-xxxl {
    margin-right: 70px
}

.h-xs {
    height: 90px
}

.h-sm {
    height: 150px
}

.h {
    height: 200px
}

.h-md {
    height: 240px
}

.h-lg {
    height: 280px
}

.h-xl {
    height: 320px
}

.h-xxl {
    height: 360px
}

.p-l {
    padding-left: 15px
}

.p-l-md {
    padding-left: 20px
}

.p-l-lg {
    padding-left: 30px
}

.pos-rel {
    position: relative
}

.align-bottom {
    position: absolute;
    bottom: 0
}

.text-shadow-sm {
    text-shadow: 0 1px 2px rgba(0, 0, 5, .3)
}

.carousel .carousel-control {
    visibility: hidden
}

.carousel:hover .carousel-control {
    visibility: visible
}

.carousel-indicators li {
    visibility: hidden
}

.carousel-caption {
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
    margin-bottom: -30px
}

.modal {
    text-align: center
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: text-bottom;
}

body.modal-open {
    overflow: inherit;
    padding-right: inherit !important
}

#editor {
    overflow: scroll;
    max-height: 300px
}

@media print {
    body {
        margin: 0;
        padding: 0;
        line-height: 1.4em;
        word-spacing: 1px;
        letter-spacing: .2px;
        font: 8px helvetica;
        color: #000
    }
    h1 {
        font: 18px helvetica !important
    }
    #content {
        font-size: 8px;
        font-weight: 100 !important;
        color: #f90 !important
    }
    a[href]:after {
        content: none !important
    }
    header,
    footer,
    aside,
    nav {
        display: none
    }
    .hidden-print {
        display: none
    }
}



@font-face { font-family: 'Playfair Display'; font-style: normal; font-weight: normal; src: local('Playfair Display'), url('../fonts/bauhauslightbt.woff') format('woff');}

:root { 
 --color-purple:#49159b;
 --color-blue: #4799f1;
 --color-lightBg: #f6f7f8;
 --text-dark: #384141;
 --text-light: #b3b3b3;
 --color-gradient-start: #4799f1; 
 --color-gradient-stop: #49159b;
}

body {
  font-family:'Playfair Display';
  background-color: #fff;
}

/*section{
	margin-bottom: 5rem !important;
	margin-top: 10rem !important;
  }*/
  .cursor-pointer{
    cursor: pointer !important;
  }
  .color-blue{
   color: var(--color-blue) !important;
 }
 .bg-blue{
  background-color: var(--color-blue) !important;
}
.color-gray{
  color: var(--gray);
}
.color-light{
	color: var(--text-light);
}
.color-dark{
	color: var(--text-dark) !important;
}
.color-purple{
  color: var(--color-purple);
}
.home-bg{
  background: url('../images/primary-bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.menu{
	cursor: pointer !important;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9990 !important;
  top: 0;
  left: 0;
  background-color: transparent;
  background-image: linear-gradient(to right, var(--color-gradient-start) 0%, var(--color-gradient-stop) 31%) !important;  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom: 0;
  overflow: hidden;
}

.sidenav a {
  padding: 8px 8px 15px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
  border-style: solid;
  border-image: linear-gradient(to left, rgba(255, 255, 255, 0.001) 1%, rgba(61, 222, 237, 0.2) 50%, rgba(255, 255, 255, 0.001) 100%) 
  100% 0 100% 0/1px 0 1px 0 stretch;
}
.sidenav a:first-child, .sidenav a:nth-child(2), .sidenav a:nth-child(3), .sidenav a:last-child{
  border:none !important;
  border-image:none !important;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 60px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav i{
  font-weight: 100 !important; 
}
.user-profile{
  height: 75px;
  width: 75px;
  border: 6px solid #fff;
  padding:0 2px 2px 0;
  background-color: #fff;
  /*box-shadow: 3px 2px 3px 2px rgba(0,0,0,0.3); 
  -webkit-box-shadow: 3px 2px 3px 2px rgba(0,0,0,0.3);  
  -moz-box-shadow: 3px 2px 3px 2px rgba(0,0,0,0.3);*/
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} 

}

@media (max-width: 768px) and (max-width: 979px) {
  .m-bg{
    text-align: center!important;
    background-color: rgba(255,255,255,0.6);
  }
  .sidenav{overflow-y: scroll;}
  .modal-lg {
    max-width: 100% !important; 
  }
  .box-part{
    border-radius: 10px;
    padding:10px 0 !important;
    margin:20px 0px;
    width: 120px !important;
  }
  .box-part h4{
    font-size: 15px !important;
  }
  .square h5{
    font-size: 14px !important;
  }
  /*leaderboard*/
  .topperSquare {
    border-radius: 20px;
    width: 70px !important;
    height: 70px !important;
    box-shadow: 1px .4rem 1rem rgba(0,0,0,0.1);
  }
  .topperInner{
    left:3px;
    top:5px;
    border-radius: 15px;
    width: 60px !important;
    height: 60px !important;
  }
  .topperInner img{
    height: 60px;
    width: auto;
  }
}
.zIndex-1{
	z-index: 0 !important;
}
.z-Index-2{
  z-index: 1 !important;
}
.gradientBtn{
  font-weight: bolder;
  background-color: #fff;
  border-radius: 50px !important;
  border:none !important;
  color: #fff !important;
  padding: 8px 40px 8px 40px;
  background-image: linear-gradient(to right, var(--color-gradient-start) 0%, var(--color-gradient-stop) 50%) !important;
}

.gradientBtn:hover{
	background-color: #fff;
	border-radius: 50px !important;
	border:none !important;
	color: #fff !important;
	padding: 8px 43px 8px 43px;
  background-image: linear-gradient(to right, var(--color-gradient-stop) 0%, var(--color-gradient-start) 50%) !important;
}

/*login Modal Customization*/
.modal-lg {
  max-width: 70%;
}
.loginSquare {
  transform: rotate(45deg);
  border-radius: 20px;
  background: var(--color-purple);
  padding: 20px;
  width: 100px;
  height: 100px;
  display: block;
  line-height: 50px;
  box-shadow: 1px .4rem 1rem rgba(0,0,0,0.5);
}
.loginSquare p{
  transform: rotate(-45deg);
  font-size: 19px;
  /*width: 100px;*/
}
.rounded-modal{
  border-radius: 1.5rem !important;
}

.textfield-rounded{
  border-radius: 1.2rem !important;
  border:none !important;
}
.line-height-20{
  line-height: 20px;
}
/*leaderboard*/
.square {
  float:left;
  position: relative;
  width: 30%;
  /*padding-bottom : 30%;*/ 
  margin:1.66%;
  background-color: transparent;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}
.topperSquare {
  transform: rotate(45deg);
  border-radius: 20px;
  background: #fff;
  width: 100px;
  height: 100px;
  display: block;
  box-shadow: 1px .4rem 1rem rgba(0,0,0,0.1);
}
.topperInner{
  position: relative;
  left:3px;
  top:5px;
  border-radius: 15px;
  width: 90px;
  height: 90px;
  display: block;
}
.bg-pink{
  background-color: #f68cb2;
}
.bg-purple{
  background-color: #c0b2da;
}
.bg-orange{
  background-color: #f4b350;
}
.bg-green{
  background-color: #a3d167;
}
.bg-teal{
  background-color: #84d1c9;
}
.bg-red{
  background-color: #ef606a;
}
.ranker-profile{
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  padding:0 2px 2px 0;
  box-shadow: 2px 2px 4px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 2px 2px 4px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 4px 3px rgba(0,0,0,0.1);
}
.leaderboard .table{
  border-collapse: separate;
  border-spacing:0 20px;
}
.leaderboard th,td{
  border-top: none !important;
  text-align: center;
  vertical-align: middle !important;
}

/*.leaderboard tr td:first-child,
.leaderboard tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.leaderboard tr td:last-child,
.leaderboard tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    }*/

    .ml-n4-1{
      margin-left: -1.8rem !important;
    }
    .ml-n4-2{
      margin-left: -2.5rem !important;
    }
    .ml-n6{
      margin-left: -4rem !important;
    }
    /*login social circular button*/
    .social-login{
      border:none !important;
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
    }

    .rotate-180{
      transform: rotate(180deg);
    }
    .rotate-45{
      transform: rotate(-45deg);
    }
    .rotate-n0{
     transform: rotate(0deg);
   }
   .google-icon{
    color: #ea4335 !important;
  }
  .fb-icon{
    color: #105782 !important;
  }
  input {
    text-align: center;
  }

  /*category page*/
  .light-bg{
    background-color: #eeeff3!important;
  }
/*.category-box{
  float:left;
  width: 16%;
  padding-bottom: 16%; 
  margin:1.66%;
  height: 190px;
  background-color: #f7f7f7;
  border-radius: 15px;
  }*/

  .box-part{
    background-color: #f7f7f7;
    border-radius: 15px;
    padding:30px 0;
    margin:20px 0;
    width:180px;
    cursor: pointer
  }
  .box-part h4{
    font-size: 18px;
  }
  .col-centered{
    float: none !important;
    margin: 0 auto !important;
  }

  .box-part img:hover{
    animation: paused !important;

  }
  /* card selection */
  .card-input-element:checked+.box-part {
  /*border: 2px solid var(--primary);
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;*/
}

.card-input-element:checked+.box-part::after {
  content: '\f00c';
  color: #49159b;
  font-family: 'FontAwesome';
  font-size: 22px;
  position: absolute; 
  top: 1rem; 
  right:1.2rem;
  -webkit-animation-name: fadeInCheckbox;
  animation-name: fadeInCheckbox;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes fadeInCheckbox {
  from {
    opacity: 0;
    -webkit-transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes fadeInCheckbox {
  from {
    opacity: 0;
    transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

/*sub category slider*/

.circle-shadow{
  height: 80px;
  width: 80px;
  padding:15px;
  box-shadow: 3px 2px 3px 2px rgba(0,0,0,0.2); 
  -webkit-box-shadow: 3px 2px 3px 2px rgba(0,0,0,0.2);  
  -moz-box-shadow: 3px 2px 3px 2px rgba(0,0,0,0.2);
  transition: all .2s ease-in-out;
}
.circle-shadow:hover{
  transform: scale(1.07);
}

/* Ripple effect */
.ripple {
 border-radius: 50%;
 animation: ripple 3s linear infinite
}

.ripple::before,
.ripple::after {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 border-radius: 50%;
 animation: ripple 3s linear infinite 1s
}

.ripple::after {
 animation: ripple 3s linear infinite 2s
}

@keyframes ripple {
 0% {
   box-shadow: 0 0 0 .7rem rgba(255, 255, 255, 0.2)
 }

 100% {
   box-shadow: 0 0 0 8rem rgba(255, 255, 255, 0)
 }
}

/*score history*/
.diamond {
  transform: rotate(45deg);
  border-radius: 8px;
  padding: 16px;
  width: 20px;
  height: 20px;
  display: block;
}
.diamond h6{
  transform: rotate(-45deg);
  line-height: 5px;
  position: relative;
  right:4px;
}
.score-bg{
  background-color: rgba(71,153,241,0.1);
}
/*profile photo change*/
#imageUpload
{
  display: none;
}

#profileImage
{
  cursor: pointer;
}